extends layout

block content
	link(rel='stylesheet', href='/stylesheets/style.css')

	#app

	.container

	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type="text/javascript", src="/javascripts/index.js")
