doctype html
html
	head
		title= title
		// Font Awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
		// Bootstrap core CSS
		link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
		// Material Design Bootstrap
		link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css', rel='stylesheet')
		// JQuery
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')



	body
		if window
			each object, key in window
				script.
					window.!{key} = !{JSON.stringify(object)};

		block content

		// Bootstrap tooltips
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js')
		// Bootstrap core JavaScript
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
		// MDB core JavaScript
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js')